.cart-page {
    padding: 2rem;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .cart-item {
    display: flex;
    gap: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-details input {
    width: 50px;
    margin-left: 0.5rem;
  }

  #remove{
    margin-top: 35px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
  }

  .empty{
    margin-top: 30px;
  }
  